astropy=3.1.2=pypi_0
astroscrappy=1.0.8=pypi_0
drizzlepac=2.2.5=pypi_0
matplotlib=3.0.3=pypi_0
numpy=1.16.3=pypi_0
python=3.7.3=h0371630_0
scikit-image=0.15.0=pypi_0
scipy=1.2.1=pypi_0
torch=1.1.0=pypi_0